body {
    background: #FFFFFE url('/images/arta_fon_r.jpg') top right no-repeat;
    min-height: 920px;
}
#page {
    background: url('/images/arta_fon_l.jpg') top left no-repeat;
    margin: 0;
    min-height: 920px;
    position: relative;
    min-width: 1489px;
}
#content {
    /*background: url('/images/arta_fon_l.jpg') top left no-repeat;*/
    min-height: 920px;
    width: 1100px;
    margin: 0;
    padding: 0;
}
#footer {
    display: none;
}
#divBrandsMenu {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 800px;
    height: 165px;
    background: url('/images/m_logo.png') top left no-repeat;
    cursor: pointer;
}
#divBrandsSubmenu {
    position: absolute;
    top: 66px;
    left: 190px;
    width: 700px;
    height: 46px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#divBrandsSubmenu li {
    display: inline-block;
    margin-right: 5px;
}
#divBrandsText {
    position: absolute;
    top: 166px;
    left: 400px;
    width: 700px;
    height: 280px;
    color: #000;
    font-size: 1.1em;
}
#divBrandsText img {
    margin-right: 30px;
    margin-bottom: 100px;
    float: left;
}
#divBrandsText h1 {
    color: #042E6F;
    font-size: 3em;
}
#divBrandsTextInner {
    padding-left: 30px;
    width: 700px;
}
#divBrandsSlider {
    position: absolute;
    top: 460px;
    left: 660px;
    width: 495px;
    min-height: 254px;
}
